## How to merge multiple excel file into single file and extract the required  columns

### Import the required library

In [1]:
import pandas as pd

### Import and read the excel files that you need to merge

In [2]:
df1=pd.read_excel("E:\Pradeep_Datascience\Test\student.xlsx")

In [3]:
df2=pd.read_excel("E:\Pradeep_Datascience\Test\student_1.xlsx")

In [4]:
df1

    id         name  class  mark  gender
0    1     John Deo   Four    75  female
1    2     Max Ruin  Three    85    male
2    3       Arnold  Three    55    male
3    4   Krish Star   Four    60  female
4    5    John Mike   Four    60  female
5    6    Alex John   Four    55    male
6    7  My John Rob  Fifth    78    male
7    8       Asruid   Five    85    male
8    9      Tes Qry    Six    78    male
9   10     Big John   Four    55  female
10  11       Ronald    Six    89  female
11  12        Recky    Six    94  female
12  13          Kty  Seven    88  female
13  14         Bigy  Seven    88  female
14  15     Tade Row   Four    88    male
15  16        Gimmy   Four    88    male
16  17        Tumyu    Six    54    male
17  18        Honny   Five    75    male
18  19        Tinny   Nine    18    male
19  20       Jackly   Nine    65  female
20  21   Babby John   Four    69  female
21  22       Reggid  Seven    55  female
22  23        Herod  Eight    79    male
23  24    Tiddy Now  Seven    78    male
24  25     Giff Tow  Seven    88    male
25  26       Crelea  Seven    79    male
26  27     Big Nose  Three    81  female
27  28    Rojj Base  Seven    86  female
28  29  Tess Played  Seven    55    male
29  30    Reppy Red    Six    79  female
30  31  Marry Toeey   Four    88    male
31  32    Binn Rott  Seven    90  female
32  33    Kenn Rein    Six    96  female
33  34     Gain Toe  Seven    69    male
34  35   Rows Noump    Six    88  female

In [5]:
df2

    id         name  class  mark  gender   Male  Female
0    1     John Deo   Four    75  female  False    True
1    2     Max Ruin  Three    85    male   True   False
2    3       Arnold  Three    55    male   True   False
3    4   Krish Star   Four    60  female  False    True
4    5    John Mike   Four    60  female  False    True
5    6    Alex John   Four    55    male   True   False
6    7  My John Rob  Fifth    78    male   True   False
7    8       Asruid   Five    85    male   True   False
8    9      Tes Qry    Six    78    male   True   False
9   10     Big John   Four    55  female  False    True
10  11       Ronald    Six    89  female  False    True
11  12        Recky    Six    94  female  False    True
12  13          Kty  Seven    88  female  False    True
13  14         Bigy  Seven    88  female  False    True
14  15     Tade Row   Four    88    male   True   False
15  16        Gimmy   Four    88    male   True   False
16  17        Tumyu    Six    54    male   True   False
17  18        Honny   Five    75    male   True   False
18  19        Tinny   Nine    18    male   True   False
19  20       Jackly   Nine    65  female  False    True
20  21   Babby John   Four    69  female  False    True
21  22       Reggid  Seven    55  female  False    True
22  23        Herod  Eight    79    male   True   False
23  24    Tiddy Now  Seven    78    male   True   False
24  25     Giff Tow  Seven    88    male   True   False
25  26       Crelea  Seven    79    male   True   False
26  27     Big Nose  Three    81  female  False    True
27  28    Rojj Base  Seven    86  female  False    True
28  29  Tess Played  Seven    55    male   True   False
29  30    Reppy Red    Six    79  female  False    True
30  31  Marry Toeey   Four    88    male   True   False
31  32    Binn Rott  Seven    90  female  False    True
32  33    Kenn Rein    Six    96  female  False    True
33  34     Gain Toe  Seven    69    male   True   False
34  35   Rows Noump    Six    88  female  False    True

In [6]:
# Find the same headline those files then write the required columns that you need in the fresh Excel


df3=df1[["name","class","mark"]].merge(df2[["name","gender","Male","Female"]], on="name", how="right")

In [7]:
df3

           name  class  mark  gender   Male  Female
0      John Deo   Four    75  female  False    True
1      Max Ruin  Three    85    male   True   False
2        Arnold  Three    55    male   True   False
3    Krish Star   Four    60  female  False    True
4     John Mike   Four    60  female  False    True
5     Alex John   Four    55    male   True   False
6   My John Rob  Fifth    78    male   True   False
7        Asruid   Five    85    male   True   False
8       Tes Qry    Six    78    male   True   False
9      Big John   Four    55  female  False    True
10       Ronald    Six    89  female  False    True
11        Recky    Six    94  female  False    True
12          Kty  Seven    88  female  False    True
13         Bigy  Seven    88  female  False    True
14     Tade Row   Four    88    male   True   False
15        Gimmy   Four    88    male   True   False
16        Tumyu    Six    54    male   True   False
17        Honny   Five    75    male   True   False
18        Tinny   Nine    18    male   True   False
19       Jackly   Nine    65  female  False    True
20   Babby John   Four    69  female  False    True
21       Reggid  Seven    55  female  False    True
22        Herod  Eight    79    male   True   False
23    Tiddy Now  Seven    78    male   True   False
24     Giff Tow  Seven    88    male   True   False
25       Crelea  Seven    79    male   True   False
26     Big Nose  Three    81  female  False    True
27    Rojj Base  Seven    86  female  False    True
28  Tess Played  Seven    55    male   True   False
29    Reppy Red    Six    79  female  False    True
30  Marry Toeey   Four    88    male   True   False
31    Binn Rott  Seven    90  female  False    True
32    Kenn Rein    Six    96  female  False    True
33     Gain Toe  Seven    69    male   True   False
34   Rows Noump    Six    88  female  False    True

In [8]:
# Give the output directory that you need to extract the merged file

df3.to_excel("E:\Pradeep_Datascience\Test\Result.xlsx",index=False)